create database [DeliverixMaster]
GO
use [DeliverixMaster]
/****** Object:  Table [dbo].[Licencia]    Script Date: 15/11/2018 13:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licencias](
	[UidLicencia] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
