<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.Repartidores_GoDeliverix" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
  <application android:label="GoDeliverix_Run" android:icon="@drawable/Repartidores"></application>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- Declare Knox permissions required by this app -->
  <uses-permission android:name="com.samsung.android.knox.permission.KNOX_HW_CONTROL" />
  <!-- Declare Android permissions required by this app -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <!-- Mandatory: Declare the <meta-data /> permissions switch to enable Knox permissions -->
  <application>
    <meta-data android:name="com.samsung.knoxlicense.permissions" android:value="true" />
  </application>
</manifest>