<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>GoDeliverix</string>
	<key>CFBundleIdentifier</key>
	<string>compuandsoft.GoDeliverixRepartidor</string>
	<key>CFBundleVersion</key>
	<string>1.0.5</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Repartidores_GoDeliverix</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>La ubicación se usa para indicarte con mas precision las rutas de las ordenes asignadas.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>La ubicación se usa para indicarte con mas precision las rutas de las ordenes asignadas.</string>
	<key>NSLocationUsageDescription</key>
	<string>La ubicación se usa para indicarte con mas precision las rutas de las ordenes asignadas.</string>
	<key>NSCameraUsageDescription</key>
	<string>Esta aplicación necesita el permiso de cámara para escanear códigos QR y asi finalizar la entrega de la orden.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
